.App {
  text-align: right;
  background: linear-gradient(to top, teal, tan);
  font-size: large;
  font-weight: bold;
  height: 100vh;
  color: #fff;
  padding-right: 40px;
  padding-top: 20px;
}

.itm{
  width: 50vw;
 margin-left: 390px;
 margin-top: 0px;
}


